# Created by .ignore support plugin (hsz.mobi)
.idea
out
gen
target
.DS_Store
/build/
*.iml
*.log
*.log.*
*.cache
*.lock
generatorConfig.xml
#**/resources/mtx-admin
rebel.xml
*.bak
**/mtx-admin/META-INF
/mtx-admin/src/main/resources/config/
