<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 装载service -->
	<context:component-scan base-package="**.service" />

	<!-- 只包含 装载自定义bean -->
	<context:component-scan base-package="**.*" use-default-filters="false">
		<context:include-filter type="assignable" expression="com.mtx.common.base.BaseInterface"></context:include-filter>
	</context:component-scan>

	<context:component-scan base-package="**.common.bean" />

	<!-- 启动任务注解 -->
	<task:annotation-driven />

	<!-- @Value注解的配置 -->
	<!--<context:property-placeholder location="classpath*:**.properties"/>-->

	<!-- 配置进行解密 xml引用 properties ,可能与<context:property-placeholder冲突，两者取其1-->
	<!--<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:config.properties" />
	</bean>-->
</beans>