<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 启动解压mtx-admin-x.x.x.jar到resources目录  暂时不用-->
    <!--<bean id="AdminUtil" class="com.mtx.common.util.base.AdminUtil"></bean>-->


    <!--quartz -->
    <bean id="jobFactory" class="com.mtx.system.common.task.MyJobFactory"></bean>
    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
        <property name="dataSource" ref ="dataSource" />
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>

</beans>